* {
	/* border: 1px solid grey; */
}
.actionBar {
	display: flex;
	justify-content: space-between;
	margin: 10px;
	font-size: 1rem;
	& .selection {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		justify-content: end;
	}
	& button {
		min-width: 100px;
		height: 40px;
		border: none;
		margin: 5px 10px;
		padding: 5px 10px;
		border-radius: 5px;
		background-color: #000;
		color: #fff;
		font-family: "Orbitron", sans-serif;
		box-shadow: 0 0 5px #fff, 0 0 1px #0ff, 0 0 1px #f0f, 0 0 2px #0ff, 0 0 3px #f0f, 0 0 4px #0ff;
		outline: none;
		&.deleteGroup {
			box-shadow: 0 0 5px #f0f, 0 0 4px #f0f;
		}
	}
}
.contactList {
	margin: 40px 10px 20px 10px;
	& li {
		display: flex;
		justify-content: space-between;
		align-items: center;
		& .content {
			width: 100%;
			display: flex;
			/* justify-content: space-between; */
			align-items: center;
			gap: 10px;
			& input {
				width: 20px;
				height: 20px;
				/* border: 1px solid #ccc; */
				border-radius: 50%;
				appearance: none;
				-webkit-appearance: none;
				-moz-appearance: none;
				background-color: rgba(128, 128, 128, 0.493);
				&:checked {
					background-color: #f0f;
					box-shadow: 0 0 5px #f0f, 0 0 4px #f0f;
				}
			}
			& span {
				width: 50%;
				background-color: rgba(128, 128, 128, 0.274);
				padding-right: 10px;
				vertical-align: middle;
				height: 40px;
				line-height: 40px;
				border-radius: 5px;
				white-space: nowrap;
				overflow: hidden;
				text-overflow: ellipsis;
			}
		}
		& .actions {
			display: flex;
			justify-content: space-around;
			align-items: center;
			gap: 10px;
			& button {
				width: 80px;
        border: none;
				background-color: transparent;
				&.delete {
					& svg {
						color: rgba(255, 0, 255, 0.582);
					}
				}
				&.edit {
					& svg {
						color: rgba(89, 160, 253, 0.562);
					}
				}
			}
		}
	}
}
